<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142036140192-v8n1402vtbnkpadddo871j29959qno9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142036140192-v8n1402vtbnkpadddo871j29959qno9p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142036140192-paj6o4dfni2ghh24li7rjlh2rfu3vi6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBn5fCcPsnf104i7wpM9MQNfHhMWXuiFjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>142036140192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faqeer.anwarBaloch</string>
	<key>PROJECT_ID</key>
	<string>al-basit</string>
	<key>STORAGE_BUCKET</key>
	<string>al-basit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142036140192:ios:ad64cc879c9ede956a49c5</string>
</dict>
</plist>